{% extends "base2.html" %}

	<title>{% block title %}lista de asociados{% endblock %}</title>

{% block header %}
	Lista de cuentas registradas del usuario
	<script src="/static/js/scriptJQ2.js"></script>
	<script src="/static/js/generar.js"></script>
{% endblock %}

{% block content %}

<div class="container col-6 p-6 my-6 bg-primary text-white">
	{% for Credenciales in Credencial %}

		<ul>
			<details>
        		<summary><strong>{{ Credenciales.nombreCuenta }}</strong></summary> 
 
    			<em>Detalles</em>
        			<ul>
            		<li><p>usuario: {{Credenciales.usuario}}</p></li>
            		<li>
                		<details><summary>contraseña:</summary>
            				<ul>
             					<li>{{Credenciales.password}}</li>
            				</ul>
        					</details>
            		</li>
            		<li><p>url: {{Credenciales.url}}</p></li>
            		<li><p>detalles extra: {{Credenciales.detallesExtra}}</p></li>
            		<li>
            			<details><summary>Editar credenciales: </summary>
            				<ul>
            					<button><a href="" id="{{ Credenciales.id }}" name="{{ Credenciales.id }}" >Editar</a></button>
            				</ul>
            			</details>
            		</li>
        			</ul>
    			
			</details>
  		</ul>
 
	{%  endfor %}
</div>
 
 {%  endblock %}