{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block header %}Inicio{% endblock %}

{% block content %}
		<article class="container text-center p-3 my-3 bg-primary text-white">
		    <h3>Esta es nuestra pagina web y nosotros la hicimos juntos</h3>
		    <div class="text-center">
	            <img src="/static/imagenes/Logo-UV.jpg" class="rounded" /><br />
            </div>
            <div class="text-center">
	            <img src="/static/imagenes/descarga.jpg" class="rounded" />
            </div>

		</article>


{% endblock %}