{% extends 'base.html' %}
{% block title  %} Login {% endblock  %}

{% block header %}
    Token de autorizacion 
    <script src="/static/js/scriptJQ2.js"></script>
{% endblock %}


{% block content %}
    {%  if errores %}
        <div class='container' id="errores">
            <div class="card bg-danger text-white">Se han encontrado los siguientes errores:</div>
            <div class="alert alert-danger">
                <ol>
                    {% for error in errores %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    {%  endif %}


    <div class="aside container col-3">
        <form class='form-horizontal' id="form" action="/login" method="POST">
            {% csrf_token %}
<p>Se ha enviado un token a su cuenta de telegram</p>
            <div class="form-group">
                <div class="col-3 col-s-12"></div>
                <label>Token: </label><br />
                <input type="text" id="token" name="token" placeholder="Token" class="form-control" />
            </div>


            <input  type="submit" value="acceder"/>

        </form>
    </div>
{% endblock %}
